<template> </template>

<script lang="ts">
import loginService from '../services/login/login.service';
import { from } from 'rxjs/observable/from';
// import IdTokenVerifier from 'idtoken-verifier';

// const verifier = new IdTokenVerifier({
//     issuer: 'https://staging-accounts.castlecraft.in',
//     // jwksURI: '.well-known/jwks'
// });

export default {
  data() {
    const hash = this.$route.hash.substring(1);
    const params: {
      access_token?: string;
      expires_in?: number;
      id_token?: string;
      scope?: string;
    } = {};
    hash.split('&').map(hk => {
      const temp = hk.split('=');
      params[temp[0]] = temp[1];
    });

    // verifier.verify(params.id_token, 'ad2ae62fe1c741af9299688fffb953de', (err, payload) => {
    //     console.log({err, payload});
    // })
    const date = new Date();
    date.setSeconds(date.getSeconds() + Number(params.expires_in));
    localStorage.setItem('token_expiry', date.toString());
    localStorage.setItem('access_token', params.access_token);
    localStorage.setItem('scope', params.scope.toString());

    for (let i = 0; i < localStorage.length; i++) {
      if (localStorage.key(i).substring(0, 4) === 'oidc') {
        localStorage.removeItem(localStorage.key(i));
      }
    }
    from(loginService.renewToken()).subscribe({
      next: response => {},
      error: err => {},
    });

    return {};
  },
};
</script>

<style scoped></style>
